:root {
	/* Primary Text Sizes */
	--heading-font-size: 3.125rem;
	--body-font-size: 1.875rem;
	--caption-font-size: 1.25rem;

	/* Colors */
	--primary-color: #000;
	--secondary-color: #e3e3e3;
	--highlight-color: #adff00;

	/* Spacings */
	--spacing-small: 1.25rem;
	--spacing-medium: 2.5rem;
	--spacing-large: 6.25rem;
	--margin: 0.5em;
	--padding: 0.5em;
}

@media screen and (max-width: 500px) {
	:root {
		--heading-font-size: 2rem;
	}
}
