:root {
	/* Primary Text Sizes */
	--heading-font-size: 3.125rem;
	--body-font-size: 1.875rem;
	--caption-font-size: 1.25rem;

	/* Colors */
	--primary-color: #000;
	--secondary-color: #e3e3e3;
	--highlight-color: #adff00;

	/* Spacings */
	--small-spacing: 1.25rem;
	--medium-spacing: 2.5rem;
	--large-spacing: 6.25rem;
	--margin: 0.5em;
	--padding: 0.5em;
}

@media screen and (max-width: 500px) {
	:root {
		--heading-font-size: 32px;
		--body-font-size: 16px;
		--caption-font-size: 12px;
	}

	p {
		line-height: 1.8rem;
	}
}
